doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='../public/style.css')
        title Crea o Edita
    body 
        include header.pug
        main
            if data 
                h2 Edita una pelicula
                form#formAdmin(action="", method="")
                    input#campos(type="text", name="Title", placeholder="Título" value=data.Title readonly)
                    input#campos(type="number", name="Year", placeholder="Año" value=data.Year)
                    input#campos(type="number", name="Runtime", placeholder="Duración" value=data.Runtime)
                    input#campos(type="text", name="Genre", placeholder="Género" value=data.Genre)
                    input#campos(type="text", name="Director", placeholder="Director" value=data.Director)
                    input#campos(type="text", name="Actors", placeholder="Reparto" value=data.Actors)
                    textarea(name='textarea' rows='4' cols='10', placeholder="Sinopsis")
                    input#campos(type="text", name="Poster", placeholder="Imagen" value=data.Poster)
                    input#campos(type="number", name="imdbRating", placeholder="Puntuación" value=data.imdbRating)
                    input#campos(type="text", name="Awards", placeholder="Premios" value=data.Awards)
                    input#campos(type="text", name="Languag", placeholder="Idioma" value=data.Language)
                    input#campos(type="text", name="Country", placeholder="País" value=data.Country)
                    br
                    button#btnSU Actualizar
            else
                h2 Crea una película
                form#formAdmin(action="/apiAdmin/createMovie", method="POST")
                    input#campos(type="text", name="Title", placeholder="Título" required)
                    input#campos(type="number", name="Year", placeholder="Año" required)
                    input#campos(type="number", name="Runtime", placeholder="Duración" required)
                    input#campos(type="text", name="Genre", placeholder="Género" required)
                    input#campos(type="text", name="Director", placeholder="Director" required)
                    input#campos(type="text", name="Actors", placeholder="Reparto" required)
                    textarea#campos(name='textarea' rows='4' cols='10', placeholder="Sinopsis" minlength="90", maxlenght="500" required)
                    input#campos(type="text", name="Poster", placeholder="Imagen" required)
                    input#campos(type="number", name="imdbRating", placeholder="Puntuación" v)
                    input#campos(type="text", name="Awards", placeholder="Premios")
                    input#campos(type="text", name="Language", placeholder="Idioma" val)
                    input#campos(type="text", name="Country", placeholder="País")
                    br
                    input(type="submit", value="Crear Pelicula")
            if message 
                p=message
        script(src="../public/scripts/scriptAdmin.js" type="module") 

