doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/style.css')
    link(href="../public/images/logo.png",rel="icon", type="image/png")
    title Movies
  body.body
      include header.pug

      if myFavorites
        main#searchMovies 
          each val in myFavorites
            div(id=val.Title)
              if val.imdbID
                img.normal(id=val.imdbID src='../public/images/heartFull.svg' onClick='addFavorite(id)' alt='heartFull')
              else
                img.normal(id=val.filmId  src='../public/images/heartFull.svg' onClick='addFavorite(id)' alt='heartFull')
              h2 #{val.Title}
              img(src=val.Poster)
              section#cardItems
                p 
                  strong Año: 
                  span #{val.Year}
                p 
                  strong Género: 
                  span #{val.Genre}
                p 
                  strong Duración: 
                  span #{val.Runtime}
                p
                  strong Dirección: 
                  span #{val.Director}
              a(href= "/search/"+ val.Title)
                button#btnInfo
                  p Más info
      else 
        h1 No tienes favoritos

  script(src="../public/script/scriptuser.js") 