doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/style.css')
    title Movies
  body
      include header.pug 
      if myFavorites
        div
          each val in myFavorites
            div(id=val.Title)
              if val.imdbID
                img.normal(id=val.imdbID src='../public/images/heartFull.svg' onClick='addFavorite(id)' alt='heartFull')
              else  
                img.normal(id=val.filmId  src='../public/images/heartFull.svg' onClick='addFavorite(id)' alt='heartFull')
              img(src=val.Poster)
              section#cardItems
                p Año: 
                  span #{val.Year}
                p Género: 
                  span #{val.Genre}
                p Duración: 
                  span #{val.Runtime}
              h3 #{val.Title}  
              p Dirección: 
                span #{val.Director}
      if state
        h1 No tienes favoritos

  script(src="../public/script/scriptuser.js") 