doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/style.css')
    title Search title
  body
      div(id=film.imdbID)
        section 
          h2=film.Title
        img(src=film.Poster)
        img.normal#imgHeart(src='../public/images/heartEmpty.svg')
        section#cardItems
          p Año: 
            span=film.Year
          p Género: 
            span=film.Genre
          p Duración: 
            span=film.Runtime
        section
          p Estreno: 
            span=film.Released
          p Reparto: 
            span=film.Actors
          p País: 
            span=film.Country
          p Idioma: 
            span=film.Languge
          p Premios: 
            span=film.Awards
          p Dirección: 
            span=film.Director
        article 
          h3 Sinopsis 
          p=film.Plot  
        section#options