doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/style.css')
    title Busca pelis
  body
    main
        
        form#form(method='POST', action='/searchQuery')
          input#searchText(type='text', name='filmSearch', placeholder='Busca tu película')
          input#searchButton(type='submit', name='searchButton', value="Buscar")
          
          //label(for="titulo") Introduce título
          //input(type="text" name="titulo", id="title")

          //input(type="submit", value="Busca tu película")
  
    div
        each val in completeFilms
          main
          div(id=val.imdbID)
              img(src=val.Poster)
          section#cardItems
                p Año: 
                  span #{val.Year}
                p Género: 
                  span #{val.Genre}
                p Duración: 
                  span #{val.Runtime}
          h3 #{val.Title}
          section  
                p Dirección: 
                  span #{val.Director}