doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/style.css')
    title Busca pelis
  body
    main
        //button(a='' href='/search' type='button' value='Guardar películas') Buscador de películas
        //input.search(type='text' name='search' placeholder='Busca tu película')
        form
          label(for="titulo") Introduce título
          input(type="text" name="titulo", id="title")

          input(type="submit", value="Busca tu película")

    div
        main
        div
            img(src=data.Poster)
        section
              p Año:
                span #{data.Year}
              p Género:
                span #{data.Genre}
              p Duración:
                span #{data.Runtime}
        h1 #{data.Title}
        section  
              p Dirección:
                span #{data.Director}
