doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/style.css')
    title Search title
  body
    include header.pug
    main#detailFilm
      div(id=film.imdbID)
        img#imgHeartFilm(src='../public/images/heartEmpty.svg')
        section 
          h2=film.Title
        img(src=film.Poster)
        
        section#cardItems
          p 
            strong Año: 
            span=film.Year
          p 
            strong Género: 
            span=film.Genre
          p 
            strong Duración: 
            span=film.Runtime
          p 
            strong Dirección: 
            span=film.Director
        section
          p 
            strong Reparto: 
            span=film.Actors
          p 
            strong País: 
            span=film.Country
          p 
            strong Idioma: 
            span=film.Language
          p 
            strong Premios: 
            span=film.Awards
          p 
            strong Estreno: 
            span=film.Released
        article 
          h3 Sinopsis 
          p=film.Plot  
        section#options

script(src='../public/script/dashboard.js')