doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/style.css')
    title Buscador de películas
  body
    include header.pug

    main#searchMovies
      form#form(method='POST', action='/search')
        input#searchText(type='text', name='filmSearch', placeholder='Busca tu película')
        input#searchButton(type='submit', name='searchButton', value="Buscar")
        
      if completeFilms
          each val in completeFilms
            div(id=val.Title)
              if val.imdbID
                img.normal(id=val.imdbID src='../public/images/heartEmpty.svg' onClick='addFavorite(id)' alt='heartEmpty')
              else  
                img.normal(id=val.filmId  src='../public/images/heartEmpty.svg' onClick='addFavorite(id)' alt='heartEmpty')
              
              section#cardItems
                h2 #{val.Title}
                img.poster(src=val.Poster)
                p 
                  strong Género: 
                  span #{val.Genre}
                p 
                  strong Año: 
                  span #{val.Year}
                p 
                  strong Duración: 
                  span #{val.Runtime}
                p 
                  strong Dirección: 
                  span #{val.Director}
          
              a(href= "/search/"+ val.Title)
                button#btnInfo
                  p Más info
                          
      else
        
          img.normal#imgLogo(src='../public/images/logo.png')
          //img.normal(src='../public/images/cine.svg')
      


script(src="../public/script/scriptuser.js")
