doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/style.css')
    title Search title
  body
  
        div
       
          main
          div(id=film.imdbID)
              img(src=film.Poster)
          section#cardItems
                p Año: 
                  span=film.Year
                p Género: 
                  span=film.Genre
                p Duración: 
                  span=film.Runtime
          h3=film.Title
          section  
                p Dirección: 
                  span=film.Director

        
        
        //- div
        //-     img(src=data.Poster)
        //- section
        //-       p Año:
        //-         span #{data.Year}
        //-       p Género:
        //-         span #{data.Genre}
        //-       p Duración:
        //-         span #{data.Runtime}
        //- h1 #{data.Title}
        //- section  
        //-       p Dirección:
        //-         span #{data.Director}
        //-       p Sinopsis:
        //-         span #{data.Year}
        //-       p Actores:
        //-         span #{data.Actors}
        //-       p Rating:
        //-         span #{data.Rating}
            